* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
}

.title {
    font-weight: 900;
    font-size: 50px;
    /* background-color: #2876f9; */
    /* background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%); */
}

li,
a,
button,
h1 {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #222;
}

.nav-logo {
    font-weight: bold;
    margin-right: auto;
    width: 125px;
    height: 100%;
}

.logo {
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #2876f9;
}

button {
    padding: 9px 25px;
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: #2222;
}

.head {
    text-align: center;
    margin-top: 80px;
}

.card {
    width: 90%;
    max-width: 470px;
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    background-color: #2876f9;
    background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
    color: #fff;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border-color: #555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ebfffc;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-weight: 500;
    font-size: 60px;
}

.weather h2 {
    font-weight: 400;
    font-size: 45px;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 25px;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.credit {
    text-align: center;
    margin-top: 40px;
}